@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');


#container{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(b.jpg);
    
min-height:90%;
background-position:center center;
display: flex;
flex-direction: column;
/* margin-bottom: 400px; */
    
    
}
*{
    margin: 0;
    padding: 0;

   font-family: "Nunito";
}
body{
height:100vh;
}

#navbar{
    padding:2%;
    display: flex;
    /* justify-content:space-; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: large;
font-size: 20px;
    justify-content: space-evenly;
    width:90%;
    margin-bottom: 2%;
   font-family: "Nunito";

}

#first{
    display: flex;
    gap:6%;
    width:20%;
    /* border: 1px solid black; */
    color:white;

}
#first>img{
    width:13%;
    height:85%;
}
a{
    /* margin-right: 2%; */
    text-decoration: none;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: large;
    color: white;
    font-weight:bold ;
    padding-right: 1%;
    font-size: 20px;
   font-family: "Nunito";




}
#second{
    width:50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}
#popbtn{
    color:white;
}



/* navbar ends */


/* pop */

   

/* travel  */
#text{
    margin-top: 0%;
}
#travel{
    text-align: center;
    color: white;
    font-size:7vh;
    font-weight: bolder;
    margin-bottom: 1%;
   font-family: "Nunito";

}
.pt{
    text-align: center;
    color: white;
    font-size:20px;
    

}


#round{
    width:50%;
    /* height:30%; */
    border-radius: 50%;
}

#search{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:10px solid rgb(236, 224, 233);
    width:50%;
    /* height:25px; */
    margin-left: 25%;
    margin-top: 6%;
  border-radius: 50px;
 background-color: whitesmoke;
 color: rgb(27, 27, 62);
  /* padding:20px; */
  padding-left:3%;
   
}
#loc{
    width:50%;
  border-radius: 50%;

}
#in{
    width:100%;
    border: 0px;
    outline: none;
    font-size: larger;
    color: cadetblue;
    background-color: whitesmoke;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#indiv{
    width:70%;

}
#location{
    width:10%;
}
#mag{
    width:15%;
}


/* review */
#review{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap:1%; */
    margin-left: 15%;
    margin-top: 6%;
    width:80%;
}
#m{
    display:flex;
    flex-direction: column;
    width:60%;
    padding:7%;
    /* border: 1px solid black; */
    margin-bottom: 12%;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}
#O{
    display:flex;
    justify-content: space-between;
    width:100%;
    gap:1%;
    margin-top: 3%;
    margin-bottom: 10%;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    padding:3%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
#a{
    width:20%;
    gap:4px;
}
#a img{
    width:100%;
    height:80%;
    gap:3px;
}
#b{
    text-align: left;
    /* font-family: Nunito; */
    /* font-family: cursive; */

}
#b>p{
    color: gray;

}
#c{
    width:20%;
    display: flex;
    /* text-align: center; */
}
#c>img{
    width:40%;
    height:70%;
    margin-top: 10%;
}
#c h5{
    text-align: center;
    margin-top: 52%;
    margin-left: 5%;
    font-family: cursive;
    color: grey;
}
#t{
    /* font-family: cursive; */
    color: rgb(52, 52, 52);
}
#ad{
    /* text-align: center; */
    margin-top: 1%;
    /* font-family: cursive; */
    color: rgb(52, 52, 52);
    font-size: 5vh;
    margin-left: 2%;
    margin-right: 2%;

}
#show{
display: flex;
margin-left: 17%;
width:80%;
/* border: 1px solid black; */
margin-top: 5%;

}
.tick{
    width:13%;
}

.image-container {
    position: relative; /* Set the parent div as a reference for positioning */
    width: 70%;
    height:50vh;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio */
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  }

  .overlay {
    position:absolute; /* Position the overlay content relative to the parent */
    top: 0;
    left: 0;
    width:50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 0, 0.5); Semi-transparent black background */
    color:rgb(89, 19, 19);
    text-align: center;
    margin-left: 10%;
    /* font-family: cursive; */
    margin-top: 5%;
  }
  #alert{
    font-size: 40px;
    margin-bottom: 5%;
    color:rgb(136, 87, 87);
  }
  #ai{
    margin-bottom: 9%;
    color:rgb(136, 87, 87);

  }
  #trim{
    display:flex;
    width:70%;
    margin-left: 10%;

  }

  .lay{
    width:100%;
    border-radius: 10px;
  }
  .plya{
    width:30%;
    /* gap:60px; */
    margin-right: 4%;
    border:0px;
    border-radius: 10px;

  }
  .oop{
display:flex;
/* gap:10%; */
justify-content:space-between;
margin-bottom: 15%;
  }
  #general{
    width:70%;
    place-items: center;
    margin-left: 19%;
    margin-top: 7%;

  }
  .safe{
    /* width:50%; */
    border-radius: 40px;
  }
  .safe img{
    width:100%;
    height:100%;
    /* border-radius: 20px; */

  }
  .more{
    width:50%;
  }
  .more h2{
    margin-bottom: 5%;
    font-size: 35px;
  }
  .more p{
    color: rgb(128, 126, 126);
    margin-bottom: 5%;
  }
  .more button{
    background-color: rgb(156, 221, 246);
    border: 0px;
    padding:7px;
    border-radius: 10px;
    position:relative;
  }


  /* footer */
  footer{
    margin-top: 0%;
    background-color: skyblue;
    padding:40px;
  }
  #noo{
    display: flex;
    /* gap:30px; */
    /* margin-left: ; */
    margin-bottom: 20px;
    justify-content: space-around;
  }
  #alca{
    display: flex;

  }
  #alca img{
    width:7%;
  }
  #alca h2{
    margin-top: 1%;
    margin-left: 1%;
  }
  #no{
    width:40%;
    /* gap:30px; */
    margin-right: 30px;
  }
  #no p{
    text-align: left;
    margin-top: 6%;
  }
  #yess{
    display: flex;
    gap:20px;
    /* justify-content:center; */
    margin-left: 20px;
  }
  .yes h4{
    margin-bottom: 20px;
  }
  .yes{
    margin-left: 30px;
  }
  #end{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
  }





