#container{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://imagedelivery.net/9sCnq8t6WEGNay0RAQNdvQ/clc81r70a002jp6p4ns06c542_1/public);
    
min-height:100vh;
background-position:center center;
display: flex;
flex-direction: column;
/* margin-bottom: 400px; */
    
    
}
*{
    margin: 0;
    padding: 0;
   
}
body{
height:100vh;
}

#navbar{
    padding:2%;
    display: flex;
    /* justify-content:space-; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
font-size: 20px;
    justify-content: space-evenly;
    width:90%;
    margin-bottom: 2%;
}

#first{
    display: flex;
    gap:6%;
    width:20%;
    /* border: 1px solid black; */
    color:white;

}
#first>img{
    width:13%;
    height:85%;
}
a{
    /* margin-right: 2%; */
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: white;
    font-weight:bold ;
    padding-right: 1%;
    font-size: 20px;



}
#second{
    width:50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}
#popbtn{
    color:white;
}



/* navbar ends */


/* pop */

    #cool {
display: flex;
justify-content: center;
align-items: center;
min-height: calc(100vh -200px);
}

.pop {

display: block;
margin: auto;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
right: auto;
bottom: auto;
z-index: 1001;
position: absolute;
background-color: #ace6f7;
/* border: 6px solid rgb(175, 230, 175); */
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
padding:4%;
}
   
    .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: rgb(249, 247, 245);
  width:20px;
  height:20px;
  text-align: center;
}
label {
  display: block;
  margin-bottom: 5px;
  margin-top: 5px;
  color: brown;
}

input, select {
  width: 90%;
  padding: 3%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
/* #submit {
  width: 100%;
  padding: 8px 15px;
  background-color: #282a28;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#submit:hover {
  background-color: #45a049;
} */
.submitbtn{
    width:40%;
    background-color: aliceblue;
    color: black;
    padding:2%;
    border: 0px ;
    margin-top: 6%;
    margin-left: 26%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    color: black;
    font-weight:bold ;

}
.submitbtn:active {
transform: translateX(1px) translateY(2px);
}



/* travel  */
#text{
    margin-top: 0%;
}
#travel{
    text-align: center;
    color: white;
    font-size:7vh;
    font-weight: bolder;
    margin-bottom: 1%;
}
.pt{
    text-align: center;
    color: white;
    font-size:20px;
    

}


#round{
    width:50%;
    /* height:30%; */
    border-radius: 50%;
}

#search{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border:10px solid rgb(210, 239, 240);
    width:50%;
    /* height:25px; */
    margin-left: 25%;
    margin-top: 6%;
  border-radius: 50px;
 background-color: whitesmoke;
 color: rgb(27, 27, 62);
  /* padding:20px; */
  padding-left:3%;
   
}
#loc{
    width:50%;
  border-radius: 50%;

}
#in{
    width:100%;
    border: 0px;
    outline: none;
    font-size: larger;
    color: cadetblue;
    background-color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#indiv{
    width:70%;

}
#location{
    width:10%;
}
#mag{
    width:15%;
}
