#carouselExampleIndicators {
  position: relative;
  width: 100%;
  margin: auto;
  height: 80vh;

  overflow: hidden;
}
#carouselExampleIndicators * {
  height: 100%;
}
#carouselExampleIndicators .carousel-indicators {
  height: 5px;
  border-radius: 1px;
}
#carouselExampleIndicators .carousel-indicators > * {
  border-radius: 2px;
}
#carouselExampleIndicators img {
  display: block;
  width: 100%;
  height: 100%;
}
#explore-card-wrapper {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1rem 2rem;
}
#explore-card-wrapper img {
  height: 300px;
  width: 100%;
}
#explore-navigation-buttons {
  margin-top: 2%;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

#explore-navigation-buttons .navigation {
  background-color: white;
  color: rgb(32, 99, 245);
  height: 3rem;
  width: 8rem;
  border: solid 1px rgb(32, 99, 245);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
#explore-navigation-buttons .button-active {
  background-color: rgb(32, 99, 245);
  border: none;
  color: white;
}
#explore-navigation-buttons button:hover {
  background-color: rgb(32, 99, 245);
  border: none;
  color: white;
}
