@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Nunito";
}
:root {
  --base-color: rgb(41, 164, 226);
  --base-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
p {
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
nav {
  color: rgb(88, 88, 88);
  font-weight: 700;
  display: flex;
  gap: 1rem;
  align-items: center;
  z-index: 12;
  width: 99%;
}
nav > .nav-logo {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}
nav > .nav-logo > img {
  width: 35px;
  height: 35px;
  margin-bottom: 6%;
}
nav > .nav-logo > a {
  font-size: 20px;
  margin-bottom: 0;
}
nav > .nav-search {
  width: 30%;
  position: relative;
}
.search-suggestions {
  position: absolute;
  left: 4rem;
  width: 100%;
  margin: auto;
  z-index: 12;
  background-color: white;
  display: none;
  max-height: 30rem;
  overflow: auto;
  border-radius: 2px;
}
.search-suggestions > .search-suggestion {
  display: flex;
  border-bottom: solid 1px rgb(172, 171, 171);
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  align-items: center;
  gap: 1rem;
}
.search-suggestions > .search-suggestion img {
  width: 3rem;
  height: 3rem;
}
nav > .nav-search > .input-search {
  width: 100%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  border: solid 1px grey;
  border-radius: 25px;
  overflow: hidden;
  padding: 1px 15px;
}
nav > .nav-search input {
  display: block;
  height: 2rem;
  width: 100%;
  border: none;
  outline: none;
}
nav > .nav-search > div {
  font-size: inherit;
}
nav > .nav-right-container {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  gap: 1rem;
}
nav .nav-right-container > .nav-right {
  display: flex;
  gap: 1.5rem;

  align-items: center;
  justify-content: flex-end;
}
.nav-login-signup {
  display: flex;
  gap: 1rem;
  margin-right: 2%;
  justify-content: flex-end;
}
.nav-login-signup #nav-login {
  border: solid 1px rgb(0, 119, 255);
  font-weight: 700;
  font-size: 17px;
  color: rgb(0, 119, 255);
  background-color: white;
  width: 6rem;
  height: 2.5rem;
  border-radius: 10px;
}
.nav-login-signup > #nav-signup {
  border-radius: 10px;
  border: none;
  font-weight: 700;
  font-size: 17px;
  color: white;
  background-color: rgb(0, 119, 255);
  width: 6rem;
  height: 2.5rem;
}
nav .nav-right-container > .nav-right > *:hover {
  cursor: pointer;
  color: rgb(20, 134, 255);
  transition: all 0.4 ease-in-out;
  font-weight: bold;
}
nav {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 99.8%;
  margin: auto;
  padding: 10px 4px;
}
.nav-login {
  width: 7rem;
  background-color: rgb(30, 116, 255);
  font-weight: 700;
  font-size: 15px;
  border-radius: 10px;
}
.btn-danger {
  border: none;
}
.nav-login:hover {
  color: rgb(30, 116, 255);
  background-color: white;
  border: solid 1px rgb(30, 116, 255);
}

.nav-login-signup-container {
  position: relative;
}
.nav-login-signup-container p {
  text-align: center;
  text-decoration: none;
}
.dropdown {
  padding: 10px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(2, 27, 54);
  z-index: 14;
  display: none;
  margin-top: 1px;
}
.nav-login-signup-container > .active {
  display: block;
}
.dropdown > a {
  margin-top: 1rem;
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: pointer;
  color: black;
  text-decoration: none;
}
.dropdown > p > i {
  color: black;
}
.dropdown {
  box-shadow: var(--base-box-shadow);
  border-radius: 3px;
}
.nav-login-signup #nav-logout {
  border: solid 1px rgb(0, 119, 255);
  font-weight: 700;
  font-size: 17px;
  color: rgb(0, 119, 255);
  background-color: white;
  width: 6rem;
  height: 2.5rem;
  border-radius: 10px;
}
.checkbtn {
  font-size: 20px;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  nav {
    position: fixed;
    background-color: white;
    z-index: 99;
    gap: 0.2rem;
  }
  .checkbtn {
    display: block;
    margin-left: auto;
    margin-right: 3%;
  }
  nav > .nav-search {
    width: 70%;
  }
  nav > .nav-search > .input-search {
    margin-left: 0;
  }
  nav > .nav-right-container {
    position: fixed;
    width: 70%;
    height: 90vh;
    background: #ffffff;
    top: 9%;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    z-index: 99;
    font-size: 21px;
    gap: 1.5rem;
  }
  nav > .nav-right-container > .nav-right {
    flex-direction: column;
    gap: 1.5rem;
  }
  nav > .left {
    left: 0;
  }
  .nav-login-signup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dropdown {
    left: 50%;
    top: 50%;
  }
}
