@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Nunito";
  margin: 0;
}
:root {
  --base-color: rgb(41, 164, 226);
  --base-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
body {
  margin: 5px;
  box-sizing: border-box;
  height: 100vh;
}
.added-to-saved {
  display: none;

  place-items: center;
  position: fixed;
  background-color: rgb(7, 197, 4);
  color: white;
  font-size: 16px;
  width: 12rem;
  height: 4rem;
  font-weight: 700;
  z-index: 101;
  top: 3%;
  left: 45%;
  border-radius: 15px;
}
.show-alert {
  display: grid;
}
#navbar {
  z-index: 12;
}
#banner {
  margin-top: 1%;
  position: relative;
  min-height: 70vh;
  display: flex;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/958/544/small/outline-world-map-and-continents-with-dots-vector.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner-left {
  width: 45%;
}

#banner-right {
  width: 50%;
}

.banner-left-title {
  width: 60%;
  margin-left: auto;
  margin-right: 7.5%;
  margin-top: 20%;
}

.banner-left-title > h1 {
  font-size: 4.2rem;
  font-weight: bolder;
}

.banner-left-title > h1 > span {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(224, 226, 75);
}

.banner-right-images {
  display: flex;
  gap: 1rem;
}

.banner-right-images > * {
  width: 100%;
}

.banner-right-images img {
  display: block;
  width: 75%;
  height: 70vh;
  border-radius: 10rem;
  margin: auto;
}

.banner-right-images > .image-2 {
  margin-top: 4rem;
}

.search-bar {
  position: absolute;
  width: 50%;
  left: 15%;
  bottom: 5%;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.search-bar {
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
.search-bar > .search-query {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  gap: 0.7rem;
}
.search-bar > .search-query img {
  height: 20px;
  width: 20px;
}
.search-bar > .search-query > .search-query-input {
  display: flex;
  flex-direction: column;
}
.search-bar > .search-query > .search-query-input label {
  font-weight: bold;
  font-size: 14px;
}
.search-bar > .search-query > .search-query-input input {
  width: 70%;
  display: block;
  outline: none;
  border: none;
}
.search-bar > .search-destination {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  gap: 0.7rem;
  padding: 10px 10px;
}
.search-bar > .search-destination img {
  height: 20px;
  width: 20px;
}
.search-bar > .search-destination > .search-destination-input {
  display: flex;
  flex-direction: column;
}
.search-bar > .search-destination > .search-destination-input label {
  font-weight: bold;
  font-size: 14px;
}
.search-bar > .search-destination > .search-destination-input input {
  width: 70%;
  display: block;
  outline: none;
  border: none;
}

.search-bar > .search-country {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  gap: 0.7rem;
  padding: 10px 10px;
}
.search-bar > .search-country img {
  height: 20px;
  width: 20px;
}
.search-bar > .search-country > .search-country-input {
  display: flex;
  flex-direction: column;
}
.search-bar > .search-country > .search-country-input label {
  font-weight: bold;
  font-size: 14px;
}
.search-bar > .search-country > .search-country-input input {
  width: 70%;
  display: block;
  outline: none;
  border: none;
}

/* KeyFrames */
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.search-btn {
  flex: 1;
  height: 100%;
}
.search-btn > button {
  display: block;
  width: 100%;
  height: 3rem;
  background-color: rgb(7, 166, 214);
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
section {
  position: relative;
}
#products-body {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem 3rem;
  margin-top: 5%;
}
#product-body * {
  margin: 0;
}
.product-card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: var(--base-box-shadow);
  padding-bottom: 15px;
}
#products-body > .product-card > .product-card-top {
}
#products-body > .product-card > .product-card-top > .place-image > img {
  width: 100%;
  height: 14.5rem;
}
#products-body > .product-card > .product-card-body {
  width: 90%;
  margin: auto;
}
#products-body > .product-card > .product-card-body > .product-card-body-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 15px;
  margin-top: 2%;
  padding: 5px 10px;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-top
  .time
  > img {
  width: 20px;
  height: 20px;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-top
  .save
  > img {
  width: 30px;
  height: 30px;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-top
  > .time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
#products-body > .product-card > .product-card-body > .product-card-body-title {
  margin-top: 5%;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-title
  > h3 {
  font-size: 22px;
  font-weight: bolder;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-title
  > .state {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  margin-top: 1%;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-title
  > .state
  > img {
  width: 16px;
  height: 13px;
}
.product-card-body > .product-card-body-title-line {
  display: block;

  width: 95%;
  border: none;
  border-top: 1px solid rgb(221, 221, 221);
  margin: auto;
  margin-top: 5%;
}
#products-body > .product-card > .product-card-body > .product-card-body-desc {
  color: grey;
  margin-top: 5%;
}
.product-card-body > .product-card-body-desc-line {
  display: block;

  width: 95%;
  border: none;
  border-top: 1px solid rgb(220, 220, 220);
  margin: auto;
  margin-top: 5%;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-footer {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-footer
  > .details {
  height: 2.8rem;
  width: 25%;
  border: none;
  background-color: rgb(41, 164, 226);
  color: white;
  border-radius: 15px;
  font-weight: 800;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-footer
  > .details:hover {
  background-color: white;
  border: solid 1px rgb(41, 164, 226);
  color: var(--base-color);
}
/*# sourceMappingURL=product.css.map */
#products-body
  > .product-card
  > .product-card-body
  > .product-card-body-footer
  > .product-price
  > p {
  color: rgb(170, 170, 170);
  font-size: 15px;
  font-weight: 700;
}
#pagination-cotainer {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.pagination ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8px;
  border-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}
.pagination ul li {
  color: black;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb {
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first {
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last {
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots {
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn {
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
  color: #fff;
  background: var(--base-color);
}
@media screen and (max-width: 890px) {
  #products-body {
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2rem 3rem;
    margin-top: 5%;
  }
  #banner-left {
    display: none;
  }
  #banner-right {
    width: 98%;
  }
  .search-bar {
    width: 90%;
    left: 2%;
  }
}
@media screen and (max-width: 490px) {
  #products-body {
    width: 95%;

    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    gap: 2rem 3rem;
    margin-top: 5%;
  }
  .search-bar {
    width: 50%;
    flex-direction: column;
    left: -2%;
  }
  .search-bar > div > div:nth-child(2) {
    width: 90%;
  }
  .search-bar > div > div:nth-child(1) {
    width: 10%;
  }
  .search-bar * {
    width: 100%;
  }
  .banner-right-images > .image-1 {
    display: none;
  }
}
