nav {
  display: flex;
  background-color: #fff;
}
body {
  width: 100%;
  margin: auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23D4D4D4' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23EFEBEC'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

* {
}
nav .nav-search {
  display: none;
}
nav {
  justify-content: space-between;
}
#wishlist-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
#wishlist-content img {
  mix-blend-mode: multiply;
  filter: contrast(1);
}
#wishlist-content .empty-wishlist {
  margin: auto;
}
#wishlist-content .empty-wishlist-text {
  color: rgb(35, 79, 254);
  text-align: center;
  margin-top: 2rem;
}
.card1 {
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: rgb(247, 247, 247);
  border-radius: 10px;
  gap: 4rem;
  overflow: hidden;
}
.card1 img {
  width: 100%;

  height: 18rem;
}
.card-img {
  width: 50%;
}
.card-det {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.1rem;
}
.card-det h2 {
  width: 95%;
  text-align: left;
}

.card-det h3 {
  text-align: left;
  font-size: 18px;
}
.card-det h3 i {
  font-size: 14px;
}
.card-det h2 {
  color: black;
  font-size: 20px;
  font-weight: 700;
}
.card-det p {
  color: grey;
  font-weight: 700;
}
.card-det .name {
  color: black;
  font-size: 30px;
  font-weight: bolder;
}
.card-btn {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  gap: 1rem;
}

.card-btn button {
}
.card-btn button {
  background-color: rgb(7, 166, 214);
  color: #fff;
  border-color: rgb(7, 166, 214);
  border-radius: 10px;
  height: 3rem;
  width: 7.5rem;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: rgb(14, 111, 229);
  font-size: 15px;
  font-weight: 700;
  margin-right: 2rem;
}
.card-btn button.remove-btn {
  background-color: rgb(243, 38, 38);
}
@media screen and (max-width: 895px) {
  .card1 {
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .card1 > .card-img {
    width: 100%;
  }
  .card1 > .card-img > img {
    width: 100%;
    height: 14.5rem;
  }
  .card1 > .card-det {
    width: 90%;
  }
  .card1 > .card-btn {
    flex-direction: row;
  }
}
